@import url("webfonts.css");

/* Document */

* {
	font-family: FreeSans, sans-serif;
}

html {
	height: 100%;
	background-color: lightgray;
}

body {
	background-color: white;
	border: 2px solid darkgray;
	border-width: 0px 2px;
	--doc-max-width: 600px;
	max-width: var(--doc-max-width);
	min-height: calc(100% - 3em);
	padding: 0.5em;
	margin: auto;
	margin-top: 2em;
	font-size: 16pt;
}

h1 {
	font-size: 28pt;
}

#source-code-on-github {
	display: inline-block;
	margin: 0.5em auto;
	padding: 0.5em;
	background-color: whitesmoke;
	color: black;
	text-decoration: none;
	border: 2px solid black;
	border-radius: 4px;
}
#source-code-on-github:hover {
	background-color: snow;
}

/* Time */
#time-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;	
	margin: auto;
	--basic-margin: 0.5em;
	--margin: calc(50% - var(--doc-max-width)/2 + 10%);
	padding: var(--basic-margin) var(--margin);
	line-height: 1em;
	background-color: black;
	color: lime;
	text-align: center;
	font-weight: bold;
}

@media screen and (max-width: calc(600px + 2em)) {
	#time-bar {
		padding: var(--basic-margin) calc(var(--basic-margin) + 10%);
	}
}

#date {
	float: left;
}

#time {
	float: right;
}

/* Dice */

#dice-holder {
	width: 100%;
}

.die {
	height: 50pt;
	width: 50pt;
	display: inline-block;
	margin: 0 0 0.25em 0.25em;
	line-height: 50pt;
	font-size: 40pt;
	text-align: center;
	vertical-align: middle;
	background: lightyellow;
	border: 2px solid black;
	border-radius: 6px;
}

/* Status */

#status {
	width: 100%;
}

#status > * {
	margin: 0.25em;
	min-width: 25%;
}

#status > p {
	display: inline-block;
}

#sum, #lucky-rolls {
	font-size: 40pt;
}

#sum.lucky, #lucky-rolls.lucky {
	color: red;
}

#sum {
	font-weight: bold;
	color: blue;
}

.hidden {
	visibility: hidden;
}

#status > button {
	cursor: pointer;
	height: 36pt;
	line-height: 1em;
	vertical-align: middle;
	font-size: 16pt;
	padding: 0.5em;
	margin-left: 0.25em;
	border: 2px solid black;
	border-radius: 4px;
	text-transform: uppercase;
	color: white;
}
#status > button:disabled {
	cursor: not-allowed;
	background-color: gray;
}
#status > button:hover {
	font-weight: bold;
}
#status > button:focus {
	color: gold;
	font-weight: bold;
}

#add {
	background-color: green;	
}
#add:hover {
	background-color: limegreen;
}

#remove {
	background-color: darkred;
}
#remove:hover {
	background-color: red;
}

#roll {
	background-color: navy;
}
#roll:hover {
	background-color: dodgerblue;
}